%main
  .card
    %p
      This is a collection of some of my top projects I've worked on.
    .array
      - data.projects.thumbnails.each do |i|
        %a.thumbnail{ href: i.link }
          = image_tag 'thumbnail/' + i.image
          %p.text
            = i.text