@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

$main-font: 'Open Sans', sans-serif;

body {
  margin: 0 auto;
  padding: 0;
  min-width: 315px;
  font-family: $main-font;
}

.navbar {
  display: grid;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  grid-template-areas: 'title menu';
  min-height: 50px;
  position: relative;
  color: white;

  .title {
    grid-area: title;
    padding-left: 8px;

    h1 {
      margin: inherit;
    }
  }

  .menu {
    grid-area: menu;
    line-height: 50px;
    text-align: right;
    right: 10px;

    a {
      padding: 0 8px;
      font-size: 14pt;
      color: white;
      text-decoration: none;
    }

    a:hover {
      padding: 0 8px;
      color: white;
      text-decoration: underline;
    }

    a::before {
      content: '+';
      text-decoration: none;
      display: inline-block;
    }
  }

  a:visited {
    color: white;
  }
}

#background {
  position: fixed;
  top: 0;
  min-height: 100vh;
  width: 100%;
  background-image: url('../images/background.jpg');
  background-size: cover;
  z-index: -1;
}

button[type=button] {
  display: inline-block;
  font-size: 12pt;
  padding: 8px 16px;
  background-color: white;
  text-align: center;
  color: black;
  font-family: $main-font;
  border: 2px solid black;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

button[type=button]:hover {
  background-color: black;
  color: white;
}

button[type=button]:active {
  background-color: black;
  color: white;
  box-shadow: 0 0 0 #000;
  top: 1px;
}

main {
  padding: 10px 0;
}

.card {
  width: 50%;
  max-width: 500px;
  transition: width 0.5s;
  background-color: rgba(10, 10, 10, 0.6);
  margin: 10px auto;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  p {
    margin: 0;
    text-indent: 2em;
    text-align: justify;
  }

  h2 {
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1em;
  }
}

table {
  margin-left: 2em;
}

.icon img {
  width: 1.5em;
  -webkit-filter: invert(1);
  filter: invert(1);
}


@media only screen and (max-width: 750px) {
  .navbar {
    grid-template-areas: 'title''menu';

    .menu {
      text-align: left;
    }
  }

  main .card {
    width: 80%;
  }
}


@media only screen and (max-width: 397px) {
  .navbar .menu a {
    font-size: 12pt;
  }

  main {
    padding: 0;
    .card {
      width: calc(100% - 40px);
      border-radius: 0;
      margin: 0 auto;
    }
  }
}


/* Election */

body {
  margin: 0;
  padding: 0;
  background: cornflowerblue;
  min-height: 100vh;
}

.election {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 40px;
}