!!! 5
%html{ lang: 'en', dir: 'ltr' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'author', content: 'Giancarlo Pernudi Segura' }
    %meta{ name: 'description', content: 'My name is Giancarlo Pernudi Segura and this is my personal website where I show off my past and ongoing projects.' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %link{ rel: 'icon', type: 'image/png', href: 'images/favico.png' }
    %link{ rel: 'stylesheet', href: 'https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity: 'sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin: 'anonymous' }
    %title Giancarlo Pernudi Segura
    = stylesheet_link_tag 'site.css'
    = javascript_include_tag 'site.js', defer: ''
  %body
    = yield
