!!! 5
%html{ lang: 'en', dir: 'ltr' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'author', content: 'Giancarlo Pernudi Segura' }
    %meta{ name: 'description', content: 'My name is Giancarlo Pernudi Segura and this is my personal website where I show off my past and ongoing projects.' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %link{ rel: 'icon', type: 'image/png', href: 'images/favico.png' }
    %javascript{ src: 'https://kit.fontawesome.com/4c7a732134.js', crossorigin: 'anonymous', async: '', integrity: 'sha384-tCIa9x35rFwAnPYwDCoqImEiB9Ai31jfzeslK4Q53KZAXSFi24Px912eIpefo9Bj' }
    %title Giancarlo Pernudi Segura
    = stylesheet_link_tag 'site.css'
    = javascript_include_tag 'site.js', defer: ''
  %body
    = yield
