%main
  .card
    %h2 Contact
    %table
      %tr
        %td.icon
          = image_tag 'social/email.png'
        %td
          pernudig [at] gmail [dot] com
      %tr
        %td.icon
          = image_tag 'social/linkedin.png'
        %td
          Giancarlo Pernudi Segura
      %tr
        %td.icon
          = image_tag 'social/octocat.png'
        %td
          @giancarlopernudisegura
