%main
  .card
    %h2 Contact
    %table
      %tr
        %td.icon
          %img{ src: 'images/email.png', alt: 'email:' }
        %td
          pernudig@gmail.com
      %tr
        %td.icon
          %img{ src: 'images/octocat.png', alt: 'GitHub:' }
        %td
          @giancarlopernudisegura
