%main
  .card
    %h2 Contact
    %table
      %tr
        %td.icon
          = image_tag 'email.png'
        %td
          pernudig@gmail.com
      %tr
        %td.icon
          = image_tag 'octocat.png'
        %td
          @giancarlopernudisegura
