%main
  .card
    %p.resume
      Disclaimer: I am still working on this website so some parts are
      not complete ;)
    %p.resume
      = lorem.paragraph
    %p.resume
      = lorem.paragraph
    %br
    %button{ type: 'button', name: 'button' } Latest Project
