%main
  .card 
    %p.resume
      :markdown
        My name is Giancarlo Pernudi Segura. I'm a Canadian citizen born in Costa Rica. I'm a 19 year old computer science student at the [University of Alberta](https://www.ualberta.ca/) and I'm also the general secretary of the [Undergraduate Artificial Intelligence Society](https://uais.dev/). Besides my studies, I work as a signals operator for the Canadian Army Reserves.
    %p.resume
      This website is a showcase of the work I've done. It includes my compsci projects and some graphic design work I've done. Disclaimer: I am still working on this website so some parts are
      not complete.
    %br
    %a.button{ type: 'button', name: 'button', href: data.projects.thumbnails[0].link } Latest Project
  .card
    .cv
      %h1 Resume

      %h2 Work Experience


      .cv-container 
        %p.cv-title Canadian Armed Forces Reserves
        %p.cv-date October 2018 - Present

      %i Army Communication and Information Systems Specialist

      :markdown
        + As a telecommunications expert, I provide fast, reliable, and secure wired and wireless communication and information systems using voice and data systems.
        + I enable command and control in the battlefield and ensure commanders can communicate with their troops to win the objective.
        + I work around the clock during field operations to maintain the flow of information.
      %br
      .cv-container 
        %p.cv-title Dairy Queen
        %p.cv-date June 2014 - April 2016

      %i Cashier, Cook, Busboy

      :markdown
        + Started out as a busboy and then got promoted after a year as a cashier and cook.

      %h2 EDUCATION
      .cv-container
        %p.cv-title BSc Specialization in Computer Science
        %p.cv-date Anticipated June 2023

      %i University of Alberta

      %p Dean’s Honor Roll, General Secretary for the Undergraduate Artificial Intelligence Society

      %h2 SKILLS
      :markdown
        + Fluent in English, French and Spanish
        + Knowledgable in Python, HTML, CSS, and C (99 standard)
        + Qualified in Standard First Aid (CPR Level C and AED)
        + Capable of working under stressful situations
        + Team Leadership Experience
