%main
  .card 
    %p.resume
      :markdown
        My name is Giancarlo Pernudi Segura. I'm a Canadian citizen born in Costa Rica. I'm a 19 year old computer science student at the [University of Alberta](https://www.ualberta.ca/) and I'm also the general secretary of the [Undergraduate Artificial Intelligence Society](https://uais.dev/). Besides my studies, I work as a signals operator for the Canadian Army Reserves.
    %p.resume
      This website is a showcase of the work I've done. It includes my compsci projects and some graphic design work I've done. Disclaimer: I am still working on this website so some parts are
      not complete.
    %br
    %a.button{ type: 'button', name: 'button', href: 'https://ualberta-spacebar.github.io/SolarSim/' } Latest Project
  .card
    .cv
      :markdown
        # Resume

        ## Work Experience
        <hr>


        <div class='cv-container'>
          <p class='cv-title'>Canadian Armed Forces Reserves</p>
          <p class='cv-date'>October 2018 - Present</p>
        </div>

        *Army Communications and Information Systems Specialist*

        I enable command and control in the battlefield. As a telecommunications expert, I provide fast, reliable, and secure wired and wireless communication and information systems using voice and data systems.

        <br>


        <div class='cv-container'>
          <p class='cv-title'>Dairy Queen</p>
          <p class='cv-date'>June 2014 - April 2016</p>
        </div>

        *Cashier, Cook, Busboy*

        Started out as a busboy and then got promoted after a year as a cashier and cook.

        ## EDUCATION
        <hr>
        <div class='cv-container'>
          <p class='cv-title'>BSc Specialization in Computer Science</p>
          <p class='cv-date'>Anticipated June 2023</p>
        </div>

        *University of Alberta*

        Dean’s Honor Roll, General Secretary for the Undergraduate Artificial Intelligence Society

        ## SKILLS
        <hr>
        + Fluent in English, French and Spanish
        + Knowledgable in Python, HTML, CSS, and C (99 standard)
        + Qualified in Standard First Aid (CPR Level C and AED)
        + Capable of working under stressful situations
        + Team Leadership Experience

        ## REFERENCES
        <hr>
        Upon Request
