%section#main
    = image_tag 'bg.jpg', alt: 'background picture: code on a screen', class: 'background'
    %h1
        Giancarlo Pernudi Segura
    %h2
        Software Developer
    %h2
        Army Communication and Information System Specialist
    %ul
        - data.info.contact.each do |c|
            %li
                %a
                    %i{ class: c.icon}
    %a#arrow{ href: '#projects' }
        %i.fas.fa-angle-double-up
%section#projects
    %h1
        Projects
    - data.info.projects.each do |proj|
        .card
            = image_tag 'thumbnail/' + proj.image, alt: 'project thumbnail'
            -# .divider
            .content
                - proj.tools.each do |tool|
                    .tag
                        = '#' + tool
                %p
                    = lorem.sentences 5
                - if proj.demo
                    %a{ href: proj.demo }
                        Live Demo
                - if proj.repo
                    %a{ href: proj.repo }
                        Source Code
                - else
                    %a
                        Private Code
