%main
  .card 
    %p.resume
      :markdown
        My name is Giancarlo Pernudi Segura. I'm a Canadian citizen born in Costa Rica. I'm a 19 year old computer science student at the [University of Alberta](https://www.ualberta.ca/) and I'm also the general secretary of the [Undergraduate Artificial Intelligence Society](https://uais.dev/). Besides my studies, I work as a signals operator for the Canadian Army Reserves.
    %p.resume
      This website is a showcase of the work I've done. It includes my compsci projects and some graphic design work I've done. Disclaimer: I am still working on this website so some parts are
      not complete.
    %br
    %a.button{ type: 'button', name: 'button', href: 'https://ualberta-spacebar.github.io/SolarSim/' } Latest Project
